html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	margin: 0;
}

/* Contenedor Tarjetas */
.poke-container {
	display: grid;
	grid-template-columns: repeat(6, 150px);
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
}

.poke-container .spinner {
	grid-column: span 3;
}

/* Cards */

figure {
	margin: 8px;
}

.poke-center {
	max-width: 87%;
	perspective: 10rem;
}

.poke-card {
	border: thin solid #000;
	background-color: rgb(88, 255, 124);
	width: 300px;
	text-align: center;
	height: 400px;
	overflow: hidden;
	box-shadow: 0.1rem 0.1rem 20rem 0rem gold inset;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: z-index 0.3s ease-in-out;
	transform: rotateZ(2deg);
}

.poke-card:nth-child(odd) {
	background-color: gold;
	box-shadow: 0.1rem 0.1rem 20rem 0rem rgb(88, 255, 124) inset;
}

.poke-card > img {
	width: 300px;
	height: auto;
	aspect-ratio: 16/9;
}

.poke-card > h2 {
	margin: 4px 0;
}

.poke-card > h3 {
	margin: 3px 0;
}

.poke-card > p {
	margin: 2px 0;
}

/* Efecto */
.poke-card:hover {
	z-index: 1;
	transform: rotateZ(0);
}

/* Spinner */
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	width: 5vw;
	height: 5vw;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;

	border: 0.5vw solid #0000001a;
	/* border-left-color: #09f; */
	border-top-color: #09f;

	animation: spinner 1s ease-out infinite;
}
